*.pyc
*.pyo
*.pyd
__pycache__/

env/
venv/
ENV/
.venv/
.ENV/

*.log
*.db
*.sqlite3

.idea/
.vscode/
*.swp

*.egg
*.egg-info/
dist/
build/
*.wheel

.cache/
*.tmp
*.bak

*.env
.env.*
.secret

.ipynb_checkpoints/

.coverage
htmlcov/

docs/_build/
*.p12
*.pem
verifactu.conf
responses/
*.db*
